In [1]:
import pandas as pd
import numpy as np
pd.set_option('display.max_columns', None) ## 모든 열을 출력한다.

In [2]:
y_test = pd.read_csv('custom_pred/y_test_df.csv') # 3,4,5월 모델의 test data의 라벨
X_test = pd.read_csv('custom_pred/X_test_df.csv') # 6월 데이터 라벨 제외

#6월_custom_1_df는 실제 6월 예측 값
lgbm_6월_custom_1_df = pd.read_csv('custom_pred/lgbm_6월_custom_1_df.csv')
lgbm_6월_custom_2_df = pd.read_csv('custom_pred/lgbm_6월_custom_2_df.csv')
lgbm_6월_custom_3_df = pd.read_csv('custom_pred/lgbm_6월_custom_3_df.csv')
lgbm_6월_custom_4_df = pd.read_csv('custom_pred/lgbm_6월_custom_4_df.csv')
lgbm_6월_custom_5_df = pd.read_csv('custom_pred/lgbm_6월_custom_5_df.csv')

lr_6월_custom_1_df = pd.read_csv('custom_pred/lr_6월_custom_1_df.csv')
lr_6월_custom_2_df = pd.read_csv('custom_pred/lr_6월_custom_2_df.csv')
lr_6월_custom_3_df = pd.read_csv('custom_pred/lr_6월_custom_3_df.csv')
lr_6월_custom_4_df = pd.read_csv('custom_pred/lr_6월_custom_4_df.csv')
lr_6월_custom_5_df = pd.read_csv('custom_pred/lr_6월_custom_5_df.csv')

rf_6월_custom_1_df = pd.read_csv('custom_pred/rf_6월_custom_1_df.csv')
rf_6월_custom_2_df = pd.read_csv('custom_pred/rf_6월_custom_2_df.csv')
rf_6월_custom_3_df = pd.read_csv('custom_pred/rf_6월_custom_3_df.csv')
rf_6월_custom_4_df = pd.read_csv('custom_pred/rf_6월_custom_4_df.csv')
rf_6월_custom_5_df = pd.read_csv('custom_pred/rf_6월_custom_5_df.csv')

C:\Users\jwshi\AppData\Local\Temp\ipykernel_34580\2210373104.py:2: DtypeWarning: Columns (28) have mixed types. Specify dtype option on import or set low_memory=False.
  X_test = pd.read_csv('custom_pred/X_test_df.csv') # 6월 데이터 라벨 제외

In [3]:
# 3,4,5월 모델의 test data 예측값
lgbm_custom_pred_1_df = pd.read_csv('custom_pred/lgbm_custom_pred_1_df.csv')
lgbm_custom_pred_2_df = pd.read_csv('custom_pred/lgbm_custom_pred_2_df.csv')
lgbm_custom_pred_3_df = pd.read_csv('custom_pred/lgbm_custom_pred_3_df.csv')
lgbm_custom_pred_4_df = pd.read_csv('custom_pred/lgbm_custom_pred_4_df.csv')
lgbm_custom_pred_5_df = pd.read_csv('custom_pred/lgbm_custom_pred_5_df.csv')

lr_custom_pred_1_df = pd.read_csv('custom_pred/lr_custom_pred_1_df.csv')
lr_custom_pred_2_df = pd.read_csv('custom_pred/lr_custom_pred_2_df.csv')
lr_custom_pred_3_df = pd.read_csv('custom_pred/lr_custom_pred_3_df.csv')
lr_custom_pred_4_df = pd.read_csv('custom_pred/lr_custom_pred_4_df.csv')
lr_custom_pred_5_df = pd.read_csv('custom_pred/lr_custom_pred_5_df.csv')

rf_custom_pred_1_df = pd.read_csv('custom_pred/rf_custom_pred_1_df.csv')
rf_custom_pred_2_df = pd.read_csv('custom_pred/rf_custom_pred_2_df.csv')
rf_custom_pred_3_df = pd.read_csv('custom_pred/rf_custom_pred_3_df.csv')
rf_custom_pred_4_df = pd.read_csv('custom_pred/rf_custom_pred_4_df.csv')
rf_custom_pred_5_df = pd.read_csv('custom_pred/rf_custom_pred_5_df.csv')

### 3,4,5월 테스트 데이터와 기존 모델들 voting 앙상블 결과 비교

In [4]:
test_result_list = [lgbm_custom_pred_1_df, lgbm_custom_pred_2_df, lgbm_custom_pred_3_df, lgbm_custom_pred_4_df, lgbm_custom_pred_5_df, lr_custom_pred_1_df,lr_custom_pred_2_df,lr_custom_pred_3_df,lr_custom_pred_4_df,lr_custom_pred_5_df, rf_custom_pred_1_df,rf_custom_pred_2_df,rf_custom_pred_3_df,rf_custom_pred_4_df,rf_custom_pred_5_df]
test_sum = pd.concat(test_result_list, axis=1)

In [5]:
test_sum.head()

,lgbm_custom_1,lgbm_custom_2,lgbm_custom_3,lgbm_custom_4,lgbm_custom_5,lr_custom_1,lr_custom_2,lr_custom_3,lr_custom_4,lr_custom_5,rf_custom_1,rf_custom_2,rf_custom_3,rf_custom_4,rf_custom_5
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,1.0,1.0,1.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
4,1.0,1.0,1.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,1.0,1.0,1.0

In [6]:
test_sum['sum']=test_sum.sum(axis=1)

In [7]:
test_sum

,lgbm_custom_1,lgbm_custom_2,lgbm_custom_3,lgbm_custom_4,lgbm_custom_5,lr_custom_1,lr_custom_2,lr_custom_3,lr_custom_4,lr_custom_5,rf_custom_1,rf_custom_2,rf_custom_3,rf_custom_4,rf_custom_5,sum
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,1.0,1.0,1.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,6.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,15.0
4,1.0,1.0,1.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,1.0,1.0,1.0,10.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3056136,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3056137,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3056138,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0
3056139,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3056140,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,1.0,1.0,1.0,5.0

In [8]:
# 각 행의 1과 0의 개수 파악
test_sum['count_1'] = test_sum['sum'].copy()
test_sum['count_0'] = 15 - test_sum['count_1']
test_sum

,lgbm_custom_1,lgbm_custom_2,lgbm_custom_3,lgbm_custom_4,lgbm_custom_5,lr_custom_1,lr_custom_2,lr_custom_3,lr_custom_4,lr_custom_5,rf_custom_1,rf_custom_2,rf_custom_3,rf_custom_4,rf_custom_5,sum,count_1,count_0
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,15.0
1,1.0,1.0,1.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,6.0,6.0,9.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,15.0
3,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,15.0,15.0,0.0
4,1.0,1.0,1.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,1.0,1.0,1.0,10.0,10.0,5.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3056136,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,15.0
3056137,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,15.0
3056138,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,1.0,14.0
3056139,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,15.0
3056140,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,1.0,1.0,1.0,5.0,5.0,10.0

In [9]:
# 1의 개수가 더 많으면 1로, 0의 개수가 더 많으면 0으로 예측
test_sum['result'] = np.where(test_sum['count_1']> test_sum['count_0'], 1, 0)

In [10]:
from sklearn.metrics import recall_score, precision_score, accuracy_score, confusion_matrix, f1_score, roc_auc_score
def display_eval(test_y, pred):
    confusion = confusion_matrix(test_y, pred)
    accuracy = accuracy_score(test_y, pred)
    precision = precision_score(test_y, pred)
    recall = recall_score(test_y, pred)
    f1 = f1_score(test_y, pred)
    roc_score = roc_auc_score(test_y, pred)
    print(confusion)
    print('*'*50)
    print()
    print('정확도 : {0:.2f}, 정밀도 : {1:.2f}, 재현율 : {2:.2f}'.format(accuracy, precision, recall))
    print('f1-score : {0:.2f}, auc : {1:.2f}'.format(f1, roc_score))

In [11]:
display_eval(y_test, test_sum['result'])

[[2698869  191982]
 [  85091   80199]]
**************************************************

정확도 : 0.91, 정밀도 : 0.29, 재현율 : 0.49
f1-score : 0.37, auc : 0.71

### 6월 데이터 예측

In [12]:
june_predict_list = [lgbm_6월_custom_1_df,lgbm_6월_custom_2_df,lgbm_6월_custom_3_df,lgbm_6월_custom_4_df,lgbm_6월_custom_5_df,lr_6월_custom_1_df,lr_6월_custom_2_df,lr_6월_custom_3_df,lr_6월_custom_4_df,lr_6월_custom_5_df,
                    rf_6월_custom_1_df,rf_6월_custom_2_df,rf_6월_custom_3_df,rf_6월_custom_4_df,rf_6월_custom_5_df]
june_predict_df = pd.concat(june_predict_list, axis=1)

In [13]:
june_predict_df['sum'] = june_predict_df.sum(axis=1)

In [14]:
# 각 행의 1과 0의 개수 파악
june_predict_df['count_1'] = june_predict_df['sum'].copy()
june_predict_df['count_0'] = 15 - june_predict_df['count_1']
june_predict_df

,june_lgbm_1,june_lgbm_2,june_lgbm_3,june_lgbm_4,june_lgbm_5,june_lr_1,june_lr_2,june_lr_3,june_lr_4,june_lr_5,june_rf_1,june_rf_2,june_rf_3,june_rf_4,june_rf_5,sum,count_1,count_0
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,15.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,15.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,15.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,15.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,15.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3255477,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,15.0
3255478,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,15.0
3255479,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,15.0
3255480,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,15.0
3255481,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,15.0

In [15]:
june_predict_df.shape

(3255482, 18)

In [16]:
# 1의 개수가 더 많으면 1로, 0의 개수가 더 많으면 0으로 예측
june_predict_df['result'] = np.where(june_predict_df['count_1']> june_predict_df['count_0'], 1, 0)

In [17]:
june_predict_df['result'].value_counts()

0    3024178
1     231304
Name: result, dtype: int64

In [18]:
# 최종 예측 결과를 final_result에 저장
final_result = june_predict_df['result']

In [19]:
june = pd.concat([X_test,final_result], axis=1)
june.head()

,Unnamed: 0,콜금리(%),loanapply_month,loanapply_day,application_id,bank_id,product_id,loan_limit,loan_rate,user_id,birth_year,credit_score,yearly_income,income_type,employment_type,houseown_type,desired_amount,purpose,existing_loan_cnt,existing_loan_amt,gender,rehabilitation_yn,loanapply_week,loanapply_time,time_at_work,기준금리,생활물가지수,소비자심리지수,나이대,핀다,대출,금리,result
0,10187132,1.86,6,1,2111151,50,142,44000000.0,18.1,731924.0,1997.0,660.0,36000000.0,EARNEDINCOME,일용직,전월세,50000000.0,주택구입,3.0,12000000.0,0.0,0,Wednesday,16:01:48,1.0,1.75,0.8,96.4,20,27.0,51.0,15.0,0
1,10187133,1.86,6,1,2111151,37,206,10000000.0,19.9,731924.0,1997.0,660.0,36000000.0,EARNEDINCOME,일용직,전월세,50000000.0,주택구입,3.0,12000000.0,0.0,0,Wednesday,16:01:50,1.0,1.75,0.8,96.4,20,27.0,51.0,15.0,0
2,10187134,1.86,6,1,2111151,33,110,18000000.0,13.5,731924.0,1997.0,660.0,36000000.0,EARNEDINCOME,일용직,전월세,50000000.0,주택구입,3.0,12000000.0,0.0,0,Wednesday,16:01:49,1.0,1.75,0.8,96.4,20,27.0,51.0,15.0,0
3,10187135,1.86,6,1,2111151,46,49,28000000.0,13.5,731924.0,1997.0,660.0,36000000.0,EARNEDINCOME,일용직,전월세,50000000.0,주택구입,3.0,12000000.0,0.0,0,Wednesday,16:01:50,1.0,1.75,0.8,96.4,20,27.0,51.0,15.0,0
4,10187136,1.86,6,1,2111151,24,229,15000000.0,9.5,731924.0,1997.0,660.0,36000000.0,EARNEDINCOME,일용직,전월세,50000000.0,주택구입,3.0,12000000.0,0.0,0,Wednesday,16:01:48,1.0,1.75,0.8,96.4,20,27.0,51.0,15.0,0

### 평가데이터에 정답 입력

In [20]:
bigcontest = pd.read_csv('custom_pred/데이터분석분야_퓨처스부문_수퍼루키_평가데이터.csv')

In [21]:
bigcontest.head()

   application_id  product_id  is_applied
0               4         220         NaN
1               4         191         NaN
2               8          29         NaN
3               8         159         NaN
4               8          85         NaN

In [22]:
bigcontest.shape

(3255194, 3)

In [23]:
data = pd.merge(left = bigcontest , right = june, how = "inner", on = ('application_id','product_id'))

In [24]:
data

,application_id,product_id,is_applied,Unnamed: 0,콜금리(%),loanapply_month,loanapply_day,bank_id,loan_limit,loan_rate,user_id,birth_year,credit_score,yearly_income,income_type,employment_type,houseown_type,desired_amount,purpose,existing_loan_cnt,existing_loan_amt,gender,rehabilitation_yn,loanapply_week,loanapply_time,time_at_work,기준금리,생활물가지수,소비자심리지수,나이대,핀다,대출,금리,result
0,4,220,NaN,12261040,1.73,6,20,7,10000000.0,11.4,209531.0,1978.0,720.0,26000000.0,EARNEDINCOME,정규직,기타가족소유,16000000.0,생활비,5.0,67000000.0,0.0,0,Monday,10:24:38,12.0,1.75,0.8,96.4,40,61.0,82.0,38.0,0
1,4,191,NaN,12261051,1.73,6,20,7,26000000.0,11.4,209531.0,1978.0,720.0,26000000.0,EARNEDINCOME,정규직,기타가족소유,16000000.0,생활비,5.0,67000000.0,0.0,0,Monday,10:24:38,12.0,1.75,0.8,96.4,40,61.0,82.0,38.0,0
2,8,29,NaN,10369040,1.86,6,2,35,5000000.0,14.5,675741.0,1983.0,590.0,9000000.0,PRIVATEBUSINESS,기타,전월세,5000000.0,사업자금,5.0,50000000.0,1.0,0,Thursday,13:10:29,3.0,1.75,0.8,96.4,40,41.0,48.0,8.0,1
3,8,159,NaN,10369038,1.86,6,2,55,5000000.0,19.9,675741.0,1983.0,590.0,9000000.0,PRIVATEBUSINESS,기타,전월세,5000000.0,사업자금,5.0,50000000.0,1.0,0,Thursday,13:10:30,3.0,1.75,0.8,96.4,40,41.0,48.0,8.0,1
4,8,85,NaN,10369039,1.86,6,2,30,13000000.0,15.9,675741.0,1983.0,590.0,9000000.0,PRIVATEBUSINESS,기타,전월세,5000000.0,사업자금,5.0,50000000.0,1.0,0,Thursday,13:10:29,3.0,1.75,0.8,96.4,40,41.0,48.0,8.0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3255189,2167778,258,NaN,12380278,1.71,6,21,42,3000000.0,14.4,340207.0,1989.0,700.0,36000000.0,EARNEDINCOME2,계약직,자가,10000000.0,생활비,8.0,328000000.0,1.0,0,Tuesday,22:27:44,1.0,1.75,0.8,96.4,30,44.0,80.0,18.0,0
3255190,2167791,29,NaN,12812772,1.75,6,24,35,5000000.0,12.8,485732.0,1971.0,680.0,50000000.0,PRIVATEBUSINESS,기타,기타가족소유,20000000.0,사업자금,4.0,37000000.0,1.0,0,Friday,12:12:42,1.0,1.75,0.8,96.4,50,54.0,58.0,17.0,0
3255191,2167822,149,NaN,13211665,1.82,6,29,10,10000000.0,15.6,105164.0,1996.0,570.0,13000000.0,EARNEDINCOME,기타,기타가족소유,7000000.0,생활비,2.0,6000000.0,1.0,0,Wednesday,14:08:35,0.0,1.75,0.8,96.4,20,38.0,69.0,14.0,0
3255192,2167822,157,NaN,13211667,1.82,6,29,36,11000000.0,18.3,105164.0,1996.0,570.0,13000000.0,EARNEDINCOME,기타,기타가족소유,7000000.0,생활비,2.0,6000000.0,1.0,0,Wednesday,14:08:36,0.0,1.75,0.8,96.4,20,38.0,69.0,14.0,0
3255193,2167822,65,NaN,13211666,1.82,6,29,10,11000000.0,15.6,105164.0,1996.0,570.0,13000000.0,EARNEDINCOME,기타,기타가족소유,7000000.0,생활비,2.0,6000000.0,1.0,0,Wednesday,14:08:35,0.0,1.75,0.8,96.4,20,38.0,69.0,14.0,0

In [36]:
final = data[['application_id','product_id','result']]

In [37]:
final

         application_id  product_id  result
0                     4         220       0
1                     4         191       0
2                     8          29       1
3                     8         159       1
4                     8          85       1
...                 ...         ...     ...
3255189         2167778         258       0
3255190         2167791          29       0
3255191         2167822         149       0
3255192         2167822         157       0
3255193         2167822          65       0

[3255194 rows x 3 columns]

In [38]:
final = final.rename(columns={'result':'is_applied'})

In [39]:
# 데이터분석분야_퓨처스부문_수퍼루키_평가데이터.csv 에 따로 저장
final.to_csv('custom_pred/데이터분석분야_퓨처스부문_수퍼루키_평가데이터.csv', index=False)